@import "../app.component.scss";

mat-toolbar {
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
    background-color: $cor-principal;
    color: $branco;
    box-shadow: $card-shadow;
    .container {
        width: 1140px;
        flex: 1 1 auto;
        display: flex;
        margin: auto;
    }
}
