@import "../app.component.scss";

mat-grid-tile {
  mat-card { background-color: $branco;
  margin: 10px;
  box-shadow: $card-shadow;
  transition: $card-transition;
  &:hover {
      box-shadow: $card-shadow-hover;
  }
  img {
      width: 100%;
  }
 }
}
